<!DOCTYPE html>
<html lang="es-ES"
	  xmlns:th="http://www.thymeleaf.org"
 	  xmlns:sec="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8"/>
    <meta name="_ctx" th:content="@{/}" />
    <link rel="shortcut icon" th:href="@{/img/favicon.ico}"/>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, miminum-scale=1, user-scalable=no" name="viewport"/>
    <title>Prosemer</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/public/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}"/>
  </head>
  <body>
    <!-- HEADER -->
    <header th:replace="html-commons/header_web :: fg-header">
    </header>
    <!-- END HEADER -->
    <div onclick="togglemenu.ocultarMenu()">
      <div class="container">
        <div class="buscador">
          <div class="idioma"><img th:src="@{/img/linea_buscar.jpg}"/>
            <div class="styleselect">
              <select id="AppLanguageW">
                  <option value="0" selected="selected">Español</option>
                  <option value="1">English</option>
              </select>
            </div>
          </div>
          <div class="icon"><a th:href="@{/web/estudio/busqueda}"><img th:src="@{/img/lupa.png}"/></a></div>
        </div>
        <div class="row pd_right division">
          <div class="col-md-4">
            <!-- MENU VERTICAL -->
            <div th:replace="html-commons/menu_web :: fg-menu-vertical">
            </div>
            <!-- END MENU VERTICAL -->
            <div class="filtro">
              <div class="head">
                <ul>
                  <li>
					<p>FECHA DE LOS ESTUDIOS</p>
                  </li>
                </ul>
              </div>
              <div class="body" id="BodyFechas">
	            <div>
	                <ul>
	                  <li th:each="f : ${lstEstudioFecha}">
	                  		<a href="#">
	                      		<p th:attr="data-fecha=${f}" class="body-fecha" th:text="${#dates.format(f, 'MMMM yyyy')}"></p>
	                      	</a>
	                  </li>
	                </ul>
	          	</div>
              </div>
            </div>
          </div>
          <div class="col-md-8">
            <div class="contenido estudio_select quienes_somos logros_section">
              <div class="title">
              	<label id="BeneficiarioId" th:text="${beneficiarioId}" hidden="hidden"></label>
                <h2><strong th:text="${beneficiario}"></strong></h2><img th:src="@{/img/line.png}" class="guion"/>
              </div>
              <div id="Coincidencias">
	              <div class="estudio01" th:each="r : ${lstEstudios}"><a th:href="@{/} + ${r.url + r.id}" class="title">
	                  <h2><strong th:text="${r.titulo}"></strong></h2></a>
	              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- FOOTER  -->
    <footer th:replace="html-commons/footer_web :: fg-footer">
    </footer>
    <!-- END FOOTER  -->
    <script th:src="@{/js/public/vendor/vendor_all.js}" type="text/javascript"></script><!--[if lte IE 8]><script src="/static/js/ie/respond.min.js"></script><![endif]-->
    <script th:src="@{/js/public/init.js}"></script>
    <script th:src="@{/js/cw/estudio/search_sec.js}"></script>
  </body>
</html>