<!DOCTYPE html>
<html lang="en-us"
	  xmlns:th="http://www.thymeleaf.org"
 	  xmlns:sec="http://www.thymeleaf.org">
 	  <head>
		<!-- META -->
		<link th:replace="html-commons/meta :: fg-meta"/>
		<!-- END META -->
		<!-- CSS FILES -->
		<link th:replace="html-commons/css :: fg-css"/>
		<!-- END CSS FILES -->
	  </head>
	
	<body class="">

		<!-- HEADER -->
		<div th:replace="html-commons/header :: fg-header"></div>
		<!-- END HEADER -->

		<!-- Left panel : Navigation area -->
		<!-- Note: This width of the aside area can be adjusted through LESS variables -->
		<div th:replace="html-commons/left-panel :: fg-left-panel"></div>
		<!-- END NAVIGATION -->

		<!-- MAIN PANEL -->
		<div id="main" role="main">

			<!-- RIBBON -->
			<div id="ribbon">

				<span class="ribbon-button-alignment"> 
					<span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh"  rel="tooltip" data-html="true">
						<i class="fa fa-refresh"></i>
					</span> 
				</span>

				<!-- breadcrumb -->
				<ol class="breadcrumb">
				</ol>
			</div>
			<!-- END RIBBON -->

			<!-- MAIN CONTENT -->
			<div id="content">
			<fieldset>
				<section>
					<div class="row">
						<div class="col-sm-12 col-md-12 col-lg-12">
							<h1 class="page-title txt-color-black">
								<i class="fa fa-edit fa-fw "></i> 
									Gestión 
								<span class="txt-color-black">> 
									<b>Usuario</b>
								</span>
							</h1>
						</div>
					</div>
					<div class="row" id="view_list">
				          <div class="col-sm-12 col-md-12 col-lg-12">
				                  <form id="frm_busqueda">
				                    <div class="form-horizontal">
						                <div class="form-group">
						                    <label class="col-md-1  control-label-left" for="txtFiltro"><b>Nombre:</b></label>
						                    <div class="col-md-3">
						                        <input name="Filtro" id="txtFiltro" type="text"  class="form-control input-sm ignore" maxlength="24" placeholder="Ingresa nombre"/>
						                    </div>
						                    <label class="col-md-1 control-label-right" for="ddlEstado"><b>Estado:</b></label>
						                    <div class="col-md-2 mrg">
						                        <select name="Estado" id="Estado" class="form-control input-sm ignore">
						                            <option value="-1">TODOS</option>
						                            <option value="true">Activo</option>
						                            <option value="false">Inactivo</option>
						                        </select>
						                    </div>
						                    <label class="col-md-1 control-label-left" for="ddlPerfil"><b>Perfil:</b></label>
						                    <div class="col-md-2 mrg">
						                        <select name="Perfil" id="Perfil" class="form-control input-sm ignore"></select>
						                    </div>
						                    <div class="col-md-1 col-xs-6 col-sm-1 text-align-center">
						                    	<a id="btnFiltrar" href="javascript:void(0);" class="btn btn-primary" >Buscar</a>
						                    </div>
						                    <div class="col-md-1 col-xs-6 col-sm-1 col-lg-1 text-align-center">
						                    	<a id="btnNuevo" href="javascript:void(0);" class="btn btn-primary" >Nuevo</a>
						                    </div>
						                </div>
	            					</div>
				                  </form>
				          </div>
				          <div class="col-sm-12 col-md-12 col-lg-12" >
				            <table id="tblRegistros" data-mobile-responsive="true">
				              <thead>
				                <tr>
				                  <th data-field="id" data-halign="center" data-valign="middle" data-align="center" data-width="20" data-title="Codigo"></th>
								  <th data-field="nombreCompleto" data-sortable="true" data-formatter="linkFormatter" data-halign="left" data-valign="middle" data-align="left">Nombre</th>
								  <th data-field="username" data-halign="left" data-valign="middle" data-align="left" data-width="120">Usuario</th>
				                  <th data-field="perfil.nombre" data-halign="left" data-valign="middle" data-align="left" data-width="120">Perfil</th>
				                  <th data-field="fechaCreacion" data-halign="left" data-valign="middle" data-align="left" >Fecha Creación</th>
				                  <th data-field="fechaUltimoAcceso" data-halign="left" data-valign="middle" data-align="left" >Último Acceso</th>
				                  <th data-formatter="isActived" data-halign="center" data-valign="middle" data-align="center" data-width="60">Estado</th>
								  <th data-formatter="Opciones"  data-halign="center" data-valign="middle" data-align="center" data-width="60">Acciones</th>
				                </tr>
				              </thead>
				            </table>
				          </div>
				    </div>
				    <div class="row" id="view_register">
					    <div class="col-sm-12 col-md-12 col-lg-12">
							<!-- Widget ID (each widget will need unique ID)-->
							<div class="jarviswidget" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false">
								<header>
									<span class="widget-icon"> <i class="fa fa-desktop"></i> </span>
									<!-- Tittle form -->	
										<h2>Formulario: El campo correo electrónico será guardado <strong>como Username</strong></h2>			
								</header>
								<div>
									<!-- widget content -->
									<div class="widget-body no-padding">
										<form id="frm_registro" class="smart-form">
											<fieldset>
												<div class="row">
													<section class="col col-6">
														<label class="input"><i class="icon-append fa fa-asterisk"></i>
															<input id="Nombres" name="Nombres" type="text" placeholder="Nombres" class="" maxlength="30" autocomplete="off" />
															<b class="tooltip tooltip-bottom-right">Obligatorio</b>
								                    		<input id="hIdUsuario" name="hIdUsuario" type="hidden" value="0" />
														</label>
													</section>
													<section class="col col-6">
														<label class="input">
															<select id="PerfilId" name="PerfilId" class="form-control"></select>
															<b class="tooltip tooltip-bottom-right">Obligatorio</b>
														</label>
													</section>
												</div>
												<div class="row">
													<section class="col col-6">
														<label class="input"><i class="icon-append fa fa-asterisk"></i>
															<input id="ApellidoPaterno" name="ApellidoPaterno" type="text" placeholder="Apellido paterno" class="" maxlength="24" autocomplete="off" />
															<b class="tooltip tooltip-bottom-right">Obligatorio</b>
														</label>
													</section>
													<section class="col col-6">
														<label class="input"><i class="icon-append fa fa-asterisk"></i>
															<input id="ApellidoMaterno" name="ApellidoMaterno" type="text" placeholder="Apellido materno" class="" maxlength="24" autocomplete="off" />
															<b class="tooltip tooltip-bottom-right">Obligatorio</b>
														</label>
													</section>
												</div>
												<div class="row">
													<section class="col col-6">
														<label class="input"><i class="icon-append fa fa-envelope-o"></i>
															<input id="Username" name="Username" type="text" placeholder="Correo electrónico" class="" maxlength="30" />
															<b class="tooltip tooltip-bottom-right">Obligatorio</b>
														</label>
													</section>
													
													<section class="col col-6">
														<label class="input"><i class="icon-append fa fa-lock"></i>
															<input id="Password" name="Password" type="password" placeholder="Password" class="" maxlength="24" autocomplete="off" />
															<b class="tooltip tooltip-bottom-right">Obligatorio</b>
														</label>
													</section>
												</div>
												<div class="row">
													<section class="col col-6">
														<div class="inline-group">
															<label class="radio">
																<input type="radio" id="FlagActivo" name="FlagActivo" checked="checked"/>
																<i></i>Activo</label>
															<label class="radio">
																<input type="radio" id="FlagActivoOff" name="FlagActivo"/>
																<i></i>Inactivo</label>
														</div>
													</section>
													<section class="col col-6">
														<label class="input"><i class="icon-append fa fa-lock"></i>
															<input id="CheckPassword" name="CheckPassword" type="password" placeholder="Confirmar password" class="" maxlength="24" />
															<b class="tooltip tooltip-bottom-right">Obligatorio</b>
														</label>
													</section>
												</div>
											</fieldset>
								            <footer class="">
								                    <button id="btnGuardar" type="button" class="btn btn-primary">Guardar</button>
								                    <button id="btnCancelar" type="button" class="btn btn-danger">Cancelar</button>
								            </footer>
								        </form>
									</div>
								</div>
							</div>
						</div>
				    </div>
	        	</section>
	        </fieldset>
			</div>
			<!-- END MAIN CONTENT -->

		</div>
		<!-- END MAIN PANEL -->
		<!-- PAGE FOOTER -->
		<div th:replace="html-commons/footer :: fg-footer"></div>
		<!-- END PAGE FOOTER -->
		<!-- IMPORTS JAVASCRIPT -->
		<script th:replace="html-commons/js :: fg-js"/>
		<!-- OTRAS LIBRERIAS DISTINTAS AL TEMPLATE -->
		<script th:src="@{/js/bootstrap-table.min.js}"></script>
		<script th:src="@{/js/cw/usuario/main.js}"></script>
		<script th:inline="javascript">
		/*<![CDATA[*/
		/*]]>*/
		</script>

	</body>

</html>