    <div class="menu_vertical" th:fragment="en-fg-menu-vertical">
              <ul class="markers">
                <li><a href="#" data-toggle="dropdown" class="dropdown-toggle menu1">ABOUT US</a>
                  <ul class="dropdown-menu">
                    <li><a th:href="@{/web/en/history}">HISTORY</a></li>
	                <li><a th:href="@{/web/en/objectives}">OBJECTIVES</a></li>
	                <li><a th:href="@{/web/en/organitazional-structure}">ORGANITAZIONAL STRUCTURE</a></li>
	                <li><a th:href="@{/web/en/legal-framework}">LEGAL FRAMEWORK</a></li>
                  </ul>
                </li>
                <li> <a th:href="@{/web/en/program-memory}" class="menu1">PROGRAM MEMORY</a></li>
                <li> <a href="#" data-toggle="dropdown" class="dropdown-toggle menu1">ACHIEVEMENTS</a>
                  <ul class="dropdown-menu">
                    <li><a th:href="@{/web/en/achievements/minem}">MINEM</a></li>
		          	<li><a th:href="@{/web/en/achievements/osinergmin}">OSINERGMIN</a></li>
		          	<li><a th:href="@{/web/en/achievements/fonafe}">FONAFE</a></li>
		          	<li><a th:href="@{/web/en/achievements/petroperu}">PETROPERU</a></li>
                  </ul>
                </li>
                <li><a href="#" data-toggle="dropdown" class="dropdown-toggle menu1">RESEARCH</a>
                  <ul class="dropdown-menu">
                    <li><a th:href="@{/web/en/research/minem}">MINEM</a></li>
		          	<li><a th:href="@{/web/en/research/osinergmin}">OSINERGMIN</a></li>
		          	<li><a th:href="@{/web/en/research/fonafe}">FONAFE</a></li>
		          	<li><a th:href="@{/web/en/research/petroperu}">PETROPERU</a></li>
                  </ul>
                </li>
            	<li><a th:href="@{/web/en/trainings/search}" class="menu1">TRAININGS</a></li>
          		<li><a th:href="@{/web/en/events/search}" class="menu1">EVENTS</a></li>
              </ul>
    </div>