    <footer th:fragment="fg-footer">
       <div class="container">
        <ul class="logos">
          <li class="foo-1"><a target="_blanket" href="http://www.minem.gob.pe/"><img th:src="@{/img/img1_footer.png}"/></a></li>
          <li class="foo-2"><a target="_blanket" href="http://www.osinergmin.gob.pe/"><img th:src="@{/img/img2_footer.png}"/></a></li>
          <li class="foo-3"><a target="_blanket" href="http://www.fonafe.gob.pe/"><img th:src="@{/img/img3_footer.png}"/></a></li>
          <li class="foo-4"><a target="_blanket" href="https://www.petroperu.com.pe/"><img th:src="@{/img/img4_footer.png}"/></a></li>
          <li class="foo-5"><a target="_blanket" href="https://www.iadb.org/en "><img th:src="@{/img/img5_footer.png}"/></a></li>
        </ul>
        <ul class="informes">
          <li>
            <p>Central Telefónica</p>
          </li>
          <li>
            <p>Central: (511) 311 5930</p>
          </li>
        </ul><span class="line-text"></span>
        <ul class="direccion">
          <li>
            <p class="no_bullet"> <span>Dirección: </span>Jr. Junín 319, Cercado de Lima, Lima - Perú</p>
          </li>
          <li>
            <p class="no_bullet"><span>Mesa de Partes: </span>Lunes a viernes de 08:30 am a 04:30 pm								</p>
          </li>
        </ul>
      </div>
    </footer>