    <footer th:fragment="fg-footer">
       <div class="container">
        <ul class="logos">
          <li class="foo-1"><a target="_blanket" href="http://www.minem.gob.pe/"><img th:src="@{/img/img1_footer.png}+'?'+${version}"/></a></li>
          <li class="foo-2"><a target="_blanket" href="http://www.osinergmin.gob.pe/"><img th:src="@{/img/img2_footer.png}+'?'+${version}"/></a></li>
          <li class="foo-3"><a target="_blanket" href="http://www.fonafe.gob.pe/"><img th:src="@{/img/img3_footer.png}+'?'+${version}"/></a></li>
          <li class="foo-4"><a target="_blanket" href="https://www.petroperu.com.pe/"><img th:src="@{/img/img4_footer.png}+'?'+${version}"/></a></li>
          <li class="foo-5"><a target="_blanket" href="https://www.iadb.org/en "><img th:src="@{/img/img5_footer.png}+'?'+${version}"/></a></li>
        </ul>
      </div>
      <hr style="margin-top: 0px"/>
      <div class="container">
          <div class="container text-align-center" style="margin-left:6%; color: gray;">
              <div class="col-md-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 ">
                      <div class="row text-align-center"><span><b>Ministerio de Economía y Finanzas - Todos los derechos reservados <i class="fa fa-copyright"></i></b></span></div>
                      <div class="row text-align-center"><span>Jr. Junín 319, Cercado de Lima - Lima - Perú</span></div>
                      <div class="row text-align-center"><span>Central: (511) 311 5930</span></div>
                      <div class="row text-align-center"><span>Mesa de Partes: Lunes a viernes de 08:30 am a 04:30 pm</span></div>
                  </div>
              </div>
          </div>
      </div>
    </footer>