<!DOCTYPE html>
<html lang="es-ES"
	  xmlns:th="http://www.thymeleaf.org"
 	  xmlns:sec="http://www.thymeleaf.org"
      th:with="version = ${#ctx.servletContext.getAttribute('version')}">
  <head>
    <meta charset="utf-8"/>
    <meta name="_ctx" th:content="@{/}" />
    <link rel="shortcut icon" th:href="@{/img/favicon.ico}"/>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>
    <title>Prosemer</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/public/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}"/>
    <style type="text/css">
    .contenido h3{
    	font-size: 21px;
    }
    .img-responsive:hover{
        opacity: .65;
    }
    </style>
  </head>
  <body>
    <header>
      <div id="menu" class="open_menu"><a href="javascript:togglemenu.ocultarMenu()" class="navigator_bar white"><span class="fa fa-bars"></span></a>
        <div class="language">
          <div class="styleselect">
            <select id="AppLanguage">
              <option value="0" style="color:black;" selected="selected">Español</option>
              <option value="1" style="color:black;">English</option>
            </select>
          </div>
        </div>
        <div class="search">
          <div class="form-group">
            <input type="text" class="form-control"/><a th:href="@{/web/estudio/busqueda}"><span class="fa fa-search"></span></a>
          </div>
        </div>
        <ul>
        <!-- MOBILE MENU -->
          <li><a href="#" data-toggle="dropdown" class="dropdown-toggle">Quienes Somos</a>
            <ul class="dropdown-menu">
              <li><a th:href="@{/web/historia}">Historia</a></li>
              <li><a th:href="@{/web/objetivos}">Objetivos</a></li>
              <li><a th:href="@{/web/estructura-organizacional}">Estructura organizacional</a></li>
              <li><a th:href="@{/web/marco-legal}">Marco legal</a></li>
            </ul>
          </li>
          <li><a th:href="@{/web/memoria-del-programa}">Memoria del Programa</a></li>
          <li><a href="#" data-toggle="dropdown" class="dropdown-toggle">Logros</a>
          	<ul class="dropdown-menu">
              <li><a th:href="@{/web/logros/minem}">MINEM</a></li>
	          <li><a th:href="@{/web/logros/osinergmin}">OSINERGMIN</a></li>
	          <li><a th:href="@{/web/logros/fonafe}">FONAFE</a></li>
	          <li><a th:href="@{/web/logros/petroperu}">PETROPERU</a></li>
            </ul>
          </li>
          <li><a href="detalle_estudio.html">Estudios</a>
          	<ul class="dropdown-menu">
              <li><a th:href="@{/web/estudios/minem}">MINEM</a></li>
	          <li><a th:href="@{/web/estudios/osinergmin}">OSINERGMIN</a></li>
	          <li><a th:href="@{/web/estudios/fonafe}">FONAFE</a></li>
	          <li><a th:href="@{/web/estudios/petroperu}">PETROPERU</a></li>
            </ul>
          </li>
          <li><a th:href="@{/web/capacitacion/busqueda}">Capacitaciones</a></li>
          <li><a th:href="@{/web/evento/busqueda}">Eventos</a></li>
          <!-- END MOBILE MENU -->
        </ul>
          <!-- FOOTER IMAGES > MOBILE -->
        <div class="socios">
          <ul class="logos">
            <li class="foo-1"><a target="_blank" href="http://www.minem.gob.pe/"><img 		th:src="@{/img/img1_footer.png}"/></a></li>
          	<li class="foo-2"><a target="_blank" href="http://www.osinergmin.gob.pe/"><img 	th:src="@{/img/img2_footer.png}"/></a></li>
          	<li class="foo-3"><a target="_blank" href="http://www.fonafe.gob.pe/"><img 		th:src="@{/img/img3_footer.png}"/></a></li>
          	<li class="foo-4"><a target="_blank" href="https://www.petroperu.com.pe/"><img 	th:src="@{/img/img4_footer.png}"/></a></li>
          	<li class="foo-5"><a target="_blank" href="https://www.iadb.org/en "><img 		th:src="@{/img/img5_footer.png}"/></a></li>
          </ul>
        </div>
        <!-- END FOOTER IMAGES > MOBILE -->
      </div>
      	<!-- HEADER IMAGES > MOBILE -->
      <div class="container"><a href="javascript:togglemenu.mostrarMenu()" class="navigator_bar"><span class="fa fa-bars"></span></a>
        <div class="header_img">
          <ul class="un_logo">
            <li class="hea-1" id="EnlaceInicio"><a th:href="@{/web/inicio}"><img th:src="@{/img/logo_prosemer.png}"/></a></li>
            <li class="hea-2"><img th:src="@{/img/text_logo.png}" class="mobile"/></li>
          </ul>
          <ul class="dos_logo">
            <li class="hea-5"><a href="http://www.mef.gob.pe"><img th:src="@{/img/ministerio.png}"/></a></li>
            <li class="hea-3"><a href="https://www.iadb.org/en"><img th:src="@{/img/img5_footer.png}"/></a></li>
            <li class="hea-4"><a href="https://www.iadb.org/en"><img th:src="@{/img/img5_footer.png}" class="bid_movil"/></a><a href="https://www.canada.ca/en.html"><img class="" th:src="@{/img/bandera.jpg}" height="36" width="82" id="CanadianFlag"/></a></li>
          </ul>
        </div>
      </div>
      <!-- END HEADER IMAGES > MOBILE -->
    </header>
    <div onclick="togglemenu.ocultarMenu()">
      <div id="myCarousel" data-ride="carousel" class="carousel slide">
        <ol class="carousel-indicators">
          <li th:each="s, i : ${sliders}" data-target="#myCarousel" th:attr="data-slide-to=${i.index}" th:classappend="${s.flagPrincipal} ? 'active' : ''"></li>
        </ol>
        <div class="carousel-inner">
          <div th:each="s : ${sliders}" class="item bg_azul" th:classappend="${s.flagPrincipal} ? 'active' : ''" >
          	<a th:href="${s.hyperVinculo}" target="_blank"><img th:src="@{/}+'media/image/slider/'+${s.rutaImagenWeb}" class="img-responsive"/></a>
          	<img th:src="@{/}+'media/image/slider/'+${s.rutaImagenMobile}" class="img-responsive mobil"/>
          </div>
<!--           <div class="item bg_verde"> -->
<!--           	<img th:src="@{/img/banner2_carousel.png}" class="img-responsive"/> -->
<!--           	<img th:src="@{/img/banner1_mobil.jpg" class="img-responsive mobil"/> -->
<!--           </div> -->
        </div>
        <a href="#myCarousel" data-slide="prev" class="left carousel-control"><span class="glyphicon glyphicon-chevron-left"></span></a><a href="#myCarousel" data-slide="next" class="right carousel-control"><span class="glyphicon glyphicon-chevron-right"></span></a>
      </div>
      <div class="container">
        <div class="contenedor">
          <ul class="menu">
            <li class="dropdown"><a href="index.html" data-toggle="dropdown" class="dropdown-toggle">QUIENES SOMOS</a>
              <ul class="dropdown-menu">
                <li><a th:href="@{/web/historia}">HISTORIA</a></li>
              	<li><a th:href="@{/web/objetivos}">OBJETIVOS</a></li>
              	<li><a th:href="@{/web/estructura-organizacional}">ESTRUCTURA ORGANIZACIONAL</a></li>
              	<li><a th:href="@{/web/marco-legal}">MARCO LEGAL</a></li>
              </ul>
            </li>
            <li> <a th:href="@{/web/memoria-del-programa}">MEMORIA DEL PROGRAMA</a></li>
            <li class="dropdown"> <a href="#" data-toggle="dropdown" class="dropdown-toggle">LOGROS</a>
	          	<ul class="dropdown-menu">
	              <li><a th:href="@{/web/logros/minem}">MINEM</a></li>
	              <li><a th:href="@{/web/logros/osinergmin}">OSINERGMIN</a></li>
	              <li><a th:href="@{/web/logros/fonafe}">FONAFE</a></li>
	              <li><a th:href="@{/web/logros/petroperu}">PETROPERU</a></li>
	            </ul>
          	</li>
            <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">ESTUDIOS</a>
	            <ul class="dropdown-menu">
	              <li><a th:href="@{/web/estudios/minem}">MINEM</a></li>
		          <li><a th:href="@{/web/estudios/osinergmin}">OSINERGMIN</a></li>
		          <li><a th:href="@{/web/estudios/fonafe}">FONAFE</a></li>
		          <li><a th:href="@{/web/estudios/petroperu}">PETROPERU</a></li>
	            </ul>
	        </li>
            <li> <a th:href="@{/web/capacitacion/busqueda}">CAPACITACIONES</a></li>
            <li> <a th:href="@{/web/evento/busqueda}">EVENTOS</a></li>
          </ul>
          <div class="buscador">
            <div class="idioma"><img th:src="@{/img/linea_buscar.jpg}"/>
              <div class="styleselect">
                <select id="AppLanguageW">
                  <option value="0" selected="selected">Español</option>
                  <option value="1">Ingles</option>
                </select>
              </div>
            </div>
            <div class="icon"><a th:href="@{/web/estudio/busqueda}"><img th:src="@{/img/lupa.png}"/></a></div>
          </div>
          <div class="articulo_section section1">
            <div class="title">
              <h2>Estudios para el <strong>desarrollo del Planeamiento Energético,</strong>y la <strong>promoción de las Energías Renovables y la Eficiencia Energética</strong></h2>
            </div>
            <ul id="simple" class="owl-carousel">
              <li th:each="s,i : ${array}">
                <div class="contenido"><a th:href="@{/}+${s.url} + ${s.id}"><img th:src="@{/}+'media/image/estudio'+${s.rutaImagenPortada}" class="img-responsive"/></a>
                  <h3> <strong th:text="${s.titulo}">fotovoltaicos aislados</strong></h3><img th:src="@{/img/line.png}" class="guion"/>
                  <p th:text="${s.resumen}"></p><a th:href="@{/}+${s.url} + ${s.id}" class="plus"><span class="fa fa-plus"></span></a>
                </div>
              </li>
            </ul>
          </div>
          <div class="articulo_section section2">
            <div class="title">
              <h2>Estudios para la mejora de la<br/><strong>gestión de las empresas públicas del sector energía.</strong></h2>
            </div>
            <ul id="simple" class="owl-carousel">
              <li th:each="s,i : ${array1}">
                <div class="contenido"><a th:href="@{/}+${s.url} + ${s.id}"><img th:src="@{/}+'media/image/estudio'+${s.rutaImagenPortada}" class="img-responsive"/></a>
                  <h3> <strong th:text="${s.titulo}">fotovoltaicos aislados</strong></h3><img th:src="@{/img/line.png}" class="guion"/>
                  <p th:text="${s.resumen}"></p><a th:href="@{/} + ${s.url} + ${s.id}" class="plus"><span class="fa fa-plus"></span></a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="memoria_proyecto">
        <div class="row contenido container">
          <div class="col-md-4 no_padding">
            <div class="title">
              <h2>Memoria<strong> del programa</strong></h2>
            </div><img th:src="@{/img/line_black.png}" class="guion"/>
            <h4 th:text="${memoria.titulo}">PROSEMER 2012-2018</h4>
            <p th:text="${memoria.resumen}"></p><a th:href="@{/web/memoria-del-programa}" class="btn_leermas">LEER MÁS</a>
          </div>
          <div class="col-md-3"></div>
          <div class="col-md-5 imagen no_padding"><a th:href="@{/web/memoria-del-programa}"><img th:src="@{/}+'media/image/memoria'+${memoria.rutaImagenPortada}" class="img-responsive"/></a></div>
        </div>
      </div>
      <div class="container">
        <div class="articulo_section section3">
          <div class="title">
            <h2><strong>Capacitaciones</strong></h2>
          </div>
          <ul id="simple" class="owl-carousel">
          	<li th:each="s,i : ${array2}">
                <div class="contenido"><a th:href="@{/} + ${s.url} + ${s.id}"><img th:src="@{/}+'media/image/capacitacion'+${s.rutaImagenPortada}" class="img-responsive"/></a>
                  <h3> <strong th:text="${s.titulo}">fotovoltaicos aislados</strong></h3><img th:src="@{/img/line.png}" class="guion"/>
                  <p th:text="${s.resumen}"></p><a th:href="@{/} + ${s.url} + ${s.id}" class="plus"><span class="fa fa-plus"></span></a>
                </div>
            </li>
          </ul>
        </div>
        <div class="container">
          <span class="dd" style="position: relative;bottom: -25px;font-size: 1.35em;color: #d84343;font-weight: bold;font-family: Raleway-Bold;">Links de entidades públicas</span>
        </div>
      </div>
    </div>
    <footer>
      <div class="container">
        <ul class="logos">
          <li class="foo-1"><a target="_blank" href="http://www.minem.gob.pe/"><img th:src="@{/img/img1_footer.png}"/></a></li>
          <li class="foo-2"><a target="_blank" href="http://www.osinergmin.gob.pe/"><img th:src="@{/img/img2_footer.png}"/></a></li>
          <li class="foo-3"><a target="_blank" href="http://www.fonafe.gob.pe/"><img th:src="@{/img/img3_footer.png}"/></a></li>
          <li class="foo-4"><a target="_blank" href="https://www.petroperu.com.pe/"><img th:src="@{/img/img4_footer.png}"/></a></li>
          <li class="foo-5"><a target="_blank" href="https://www.iadb.org/en "><img th:src="@{/img/img5_footer.png}"/></a></li>
        </ul>
      </div>
      <div class="container">
        <div class="container text-align-center" style="margin-left:6%; color: gray;font-family: Raleway;">
          <div class="col-md-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 ">
              <div class="row text-align-center"><span><b>Ministerio de Economía y Finanzas - Todos los derechos reservados <i class="fa fa-copyright"></i></b></span></div>
              <div class="row text-align-center"><span>Jr. Junín 319, Cercado de Lima - Lima - Perú</span></div>
              <div class="row text-align-center"><span>Central: (511) 311 5930</span></div>
              <div class="row text-align-center"><span>Mesa de Partes: Lunes a viernes de 08:30 am a 04:30 pm</span></div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <img style="margin-top: 2.5%" th:src="@{/img/peru_primero.jpg}" height="30px"/>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script th:src="@{/js/public/vendor/vendor_all.js}+'?'+${version}" type="text/javascript"></script>
    <script th:src="@{/js/public/init.js}+'?'+${version}"></script>
  </body>
</html>