<!DOCTYPE html>
<html lang="es-ES"
	  xmlns:th="http://www.thymeleaf.org"
 	  xmlns:sec="http://www.thymeleaf.org"
      th:with="version = ${#ctx.servletContext.getAttribute('version')}">
  <head>
    <meta charset="utf-8"/>
    <meta name="_ctx" th:content="@{/}" />
    <link rel="shortcut icon" th:href="@{/img/favicon.ico}"/>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, miminum-scale=1, user-scalable=no" name="viewport"/>
    <title>Search of Trainings | PROSEMER | Perú </title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/public/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.min.css}+'?'+${version}"/>
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}"/>
  </head>
  <body>
    <!-- HEADER -->
    <header th:replace="html-commons/en_header_web :: en-fg-header">
    </header>
    <!-- END HEADER -->
    <div onclick="togglemenu.ocultarMenu()">
      <div class="container">
        <div class="buscador">
          <div class="idioma"><img th:src="@{/img/linea_buscar.jpg}"/>
            <div class="styleselect">
                <select id="AppLanguageW">
                  <option value="0">Español</option>
                  <option value="1" selected="selected">English</option>
                </select>
            </div>
          </div>
          <div class="icon"><a th:href="@{/web/en/research/search}"><img th:src="@{/img/lupa.png}"/></a></div>
        </div>
        <div class="row pd_right division">
          <div class="col-md-4">
            <!-- MENU VERTICAL -->
            <div th:replace="html-commons/en_menu_web :: en-fg-menu-vertical">
            </div>
            <!-- END MENU VERTICAL -->
            <div class="filtro">
              <div class="head">
                <ul>
                  <li>
                    <p>Training dates</p>
                  </li>
                </ul>
              </div>
              <div class="body" id="BodyFechas">
              </div>
            </div>
            <div class="filtro">
              <div class="head">
                <ul>
                  <li>
                    <p>Tags<span></span></p>
                  </li>
                </ul>
              </div>
              <div class="body-tags" id="BodyTags">
              	<div>
				  	<ul class="list-inline">
					</ul>
		     	</div>
             </div>
            </div>
          </div>
          <div class="col-md-8">
            <div class="contenido">
              <div class="search">
                <div class="title">
                  <h2>Trainings <strong>search</strong></h2>
                </div>
                <div class="buscador_estudio">
                  <label id="Alerta" class="text-danger" style="display:none;">At least <span class="badge">3</span> letters are required for the searching</label><br/>
                  <input id="Titulo" placeholder="SEARCH" type="text" class="form-control"/><a id="btnConsultar" href="javascript:void(0);"><span class="fa fa-search"></span></a>
                  
                </div>
              </div>
              <div id="Coincidencias">
	              <div class="estudio01" th:each="r : ${lstCapacitaciones}"><a th:href="@{/} + ${r.url + r.id}" class="title">
	                  <h2 class="itz" th:text="${r.titulo}"></h2></a>
	              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- FOOTER  -->
    <footer th:replace="html-commons/footer_web :: fg-footer">
    </footer>
    <!-- END FOOTER  -->
    <script th:src="@{/js/public/vendor/vendor_all.js}+'?'+${version}" type="text/javascript"></script><!--[if lte IE 8]><script src="/static/js/ie/respond.min.js"></script><![endif]-->
    <script th:src="@{/js/public/init.js}+'?'+${version}"></script>
    <script th:src="@{/js/cw/capacitacion/search.js}+'?'+${version}"></script>
  </body>
</html>
